@import 'variables.scss';
@import 'mixins.scss';
@import 'components.scss';
body {
    &._lng {
      margin: 0;
      ._header {
        background-color: $header-bg;
      }
      //Menu
      ._menu {
        float: left;
        nav {
          ._main-menu{
            background: transparent;
            li {
              display: inline-block;
              text-align: center;
              padding-left: 5px;
              padding-right: 5px;
              text-decoration: none;
              list-style: none;
              font-family: $body-font;
              a {
                color: $white;
                text-decoration: none;
                list-style: none;
                font-family: $body-font;
              }
            }
          }
        }
      }
      //components

      ._wrapper {
        &._hero-div {
          ._hero {
            img {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
      ._row {
        //margin-left: -15px;
        //margin-right: -15px;
        &::after {
          content: '';
          display: block;
          clear: both;
        }
        [class^="_col-"] {
          float: left;
          padding-left: 15px;
          padding-right: 15px;
        }
        ._col-33 {
          width: 33.333333333%;
        }
        &._no-padding {
          margin-left: 0;
          margin-right: 0;
          [class^="_col-"] {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
}
