//Fonts
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

$body-font: 'Anonymous Pro', monospace;

//font weight
$normal: 300;
$medium: 500;
$bold: 700;

//Colors
$white: #fff;
$header-bg: #2A333C;
$link-color:  #C12127;
